In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('source/base_final.csv')
df

,Data_Medicao,NUMERO_DE_DIAS_COM_PRECIP_PLUV_MENSAL_AUT_n_mero_,PRECIPITACAO_TOTAL_MENSAL_AUT_mm_,PRESSAO_ATMOSFERICA_MEDIA_MENSAL_AUT_mB_,TEMPERATURA_MEDIA_MENSAL_AUT_C_,VENTO_VELOCIDADE_MAXIMA_MENSAL_AUT_m_s_,VENTO_VELOCIDADE_MEDIA_MENSAL_AUT_m_s_,Unnamed_7,Nome,Codigo_Estacao,Latitude,Longitude,Altitude,Situacao,Data_Inicial,Data_Final,Periodicidade_da_Medicao
0,2010-01-31,16.0,100.2,885.9,22.5,6.6,2.2,NaN,BRASILIA,A001,-15.789444,-47.925833,1160.96,Operante,2010-01-01,2024-07-20,Mensal
1,2010-02-28,7.0,100.2,885.9,22.5,6.1,2.2,NaN,BRASILIA,A001,-15.789444,-47.925833,1160.96,Operante,2010-01-01,2024-07-20,Mensal
2,2010-03-31,19.0,225.6,885.5,22.4,5.5,2.3,NaN,BRASILIA,A001,-15.789444,-47.925833,1160.96,Operante,2010-01-01,2024-07-20,Mensal
3,2010-04-30,7.0,217.4,886.7,21.5,5.8,2.2,NaN,BRASILIA,A001,-15.789444,-47.925833,1160.96,Operante,2010-01-01,2024-07-20,Mensal
4,2010-05-31,4.0,25.0,886.7,21.4,6.3,2.0,NaN,BRASILIA,A001,-15.789444,-47.925833,1160.96,Operante,2010-01-01,2024-07-20,Mensal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91420,2024-03-31,22.0,263.8,996.3,27.0,5.7,0.7,NaN,CAMARATUBA,A352,-6.561944,-35.135278,135.51,Operante,2010-01-01,2024-07-20,Mensal
91421,2024-04-30,20.0,196.4,995.9,26.5,6.3,0.5,NaN,CAMARATUBA,A352,-6.561944,-35.135278,135.51,Operante,2010-01-01,2024-07-20,Mensal
91422,2024-05-31,17.0,196.4,997.1,25.8,6.1,0.8,NaN,CAMARATUBA,A352,-6.561944,-35.135278,135.51,Operante,2010-01-01,2024-07-20,Mensal
91423,2024-06-30,23.0,196.4,999.0,24.6,5.9,1.0,NaN,CAMARATUBA,A352,-6.561944,-35.135278,135.51,Operante,2010-01-01,2024-07-20,Mensal
91424,2024-07-31,7.0,196.4,999.0,24.6,6.1,1.0,NaN,CAMARATUBA,A352,-6.561944,-35.135278,135.51,Operante,2010-01-01,2024-07-20,Mensal

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91425 entries, 0 to 91424
Data columns (total 17 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Data_Medicao                                       91425 non-null  object
 1   NUMERO_DE_DIAS_COM_PRECIP_PLUV_MENSAL_AUT_n_mero_  88279 non-null  float64
 2   PRECIPITACAO_TOTAL_MENSAL_AUT_mm_                  90435 non-null  float64
 3   PRESSAO_ATMOSFERICA_MEDIA_MENSAL_AUT_mB_           90314 non-null  float64
 4   TEMPERATURA_MEDIA_MENSAL_AUT_C_                    90709 non-null  float64
 5   VENTO_VELOCIDADE_MAXIMA_MENSAL_AUT_m_s_            90852 non-null  float64
 6   VENTO_VELOCIDADE_MEDIA_MENSAL_AUT_m_s_             89722 non-null  float64
 7   Unnamed_7                                          0 non-null      float64
 8   Nome                                               91425 non-null  object
 9   Codigo_Estacao                                     91425 non-null  object
 10  Latitude                                           91425 non-null  float64
 11  Longitude                                          91425 non-null  float64
 12  Altitude                                           91425 non-null  float64
 13  Situacao                                           91425 non-null  object
 14  Data_Inicial                                       91425 non-null  object
 15  Data_Final                                         91425 non-null  object
 16  Periodicidade_da_Medicao                           91425 non-null  object
dtypes: float64(10), object(7)
memory usage: 11.9+ MB

In [4]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
NUMERO_DE_DIAS_COM_PRECIP_PLUV_MENSAL_AUT_n_mero_,88279.0,10.872246,7.555116,0.000000,4.000000,10.000000,17.000000,31.000000
PRECIPITACAO_TOTAL_MENSAL_AUT_mm_,90435.0,110.818915,113.079680,0.000000,18.400000,77.200000,170.200000,1295.000000
PRESSAO_ATMOSFERICA_MEDIA_MENSAL_AUT_mB_,90314.0,966.696988,37.232238,759.700000,942.500000,972.100000,998.000000,1032.000000
TEMPERATURA_MEDIA_MENSAL_AUT_C_,90709.0,23.606714,3.795777,5.600000,21.600000,24.500000,26.300000,35.500000
VENTO_VELOCIDADE_MAXIMA_MENSAL_AUT_m_s_,90852.0,6.786328,2.470824,0.000000,5.300000,6.500000,7.900000,38.300000
VENTO_VELOCIDADE_MEDIA_MENSAL_AUT_m_s_,89722.0,1.927097,1.097018,0.000000,1.200000,1.800000,2.500000,10.100000
Unnamed_7,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Latitude,91425.0,-15.781620,8.192341,-33.742222,-22.334722,-16.088056,-8.968611,3.813611
Longitude,91425.0,-47.844919,6.998573,-72.786667,-52.381944,-47.948056,-42.435833,-29.345833
Altitude,91425.0,416.498535,344.298371,2.000000,121.540000,367.010000,645.870000,2450.000000

In [5]:
df.columns

Index(['Data_Medicao', 'NUMERO_DE_DIAS_COM_PRECIP_PLUV_MENSAL_AUT_n_mero_',
       'PRECIPITACAO_TOTAL_MENSAL_AUT_mm_',
       'PRESSAO_ATMOSFERICA_MEDIA_MENSAL_AUT_mB_',
       'TEMPERATURA_MEDIA_MENSAL_AUT_C_',
       'VENTO_VELOCIDADE_MAXIMA_MENSAL_AUT_m_s_',
       'VENTO_VELOCIDADE_MEDIA_MENSAL_AUT_m_s_', 'Unnamed_7', 'Nome',
       'Codigo_Estacao', 'Latitude', 'Longitude', 'Altitude', 'Situacao',
       'Data_Inicial', 'Data_Final', 'Periodicidade_da_Medicao'],
      dtype='object')

In [6]:
#df_limpo = df.dropna()

#df_limpo.to_csv('source/df_limpo.csv', index=False)

Empty DataFrame
Columns: [Data_Medicao, NUMERO_DE_DIAS_COM_PRECIP_PLUV_MENSAL_AUT_n_mero_, PRECIPITACAO_TOTAL_MENSAL_AUT_mm_, PRESSAO_ATMOSFERICA_MEDIA_MENSAL_AUT_mB_, TEMPERATURA_MEDIA_MENSAL_AUT_C_, VENTO_VELOCIDADE_MAXIMA_MENSAL_AUT_m_s_, VENTO_VELOCIDADE_MEDIA_MENSAL_AUT_m_s_, Unnamed_7, Nome, Codigo_Estacao, Latitude, Longitude, Altitude, Situacao, Data_Inicial, Data_Final, Periodicidade_da_Medicao]
Index: []

In [7]:
df = df.fillna(0)
df

,Data_Medicao,NUMERO_DE_DIAS_COM_PRECIP_PLUV_MENSAL_AUT_n_mero_,PRECIPITACAO_TOTAL_MENSAL_AUT_mm_,PRESSAO_ATMOSFERICA_MEDIA_MENSAL_AUT_mB_,TEMPERATURA_MEDIA_MENSAL_AUT_C_,VENTO_VELOCIDADE_MAXIMA_MENSAL_AUT_m_s_,VENTO_VELOCIDADE_MEDIA_MENSAL_AUT_m_s_,Unnamed_7,Nome,Codigo_Estacao,Latitude,Longitude,Altitude,Situacao,Data_Inicial,Data_Final,Periodicidade_da_Medicao
0,2010-01-31,16.0,100.2,885.9,22.5,6.6,2.2,0.0,BRASILIA,A001,-15.789444,-47.925833,1160.96,Operante,2010-01-01,2024-07-20,Mensal
1,2010-02-28,7.0,100.2,885.9,22.5,6.1,2.2,0.0,BRASILIA,A001,-15.789444,-47.925833,1160.96,Operante,2010-01-01,2024-07-20,Mensal
2,2010-03-31,19.0,225.6,885.5,22.4,5.5,2.3,0.0,BRASILIA,A001,-15.789444,-47.925833,1160.96,Operante,2010-01-01,2024-07-20,Mensal
3,2010-04-30,7.0,217.4,886.7,21.5,5.8,2.2,0.0,BRASILIA,A001,-15.789444,-47.925833,1160.96,Operante,2010-01-01,2024-07-20,Mensal
4,2010-05-31,4.0,25.0,886.7,21.4,6.3,2.0,0.0,BRASILIA,A001,-15.789444,-47.925833,1160.96,Operante,2010-01-01,2024-07-20,Mensal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91420,2024-03-31,22.0,263.8,996.3,27.0,5.7,0.7,0.0,CAMARATUBA,A352,-6.561944,-35.135278,135.51,Operante,2010-01-01,2024-07-20,Mensal
91421,2024-04-30,20.0,196.4,995.9,26.5,6.3,0.5,0.0,CAMARATUBA,A352,-6.561944,-35.135278,135.51,Operante,2010-01-01,2024-07-20,Mensal
91422,2024-05-31,17.0,196.4,997.1,25.8,6.1,0.8,0.0,CAMARATUBA,A352,-6.561944,-35.135278,135.51,Operante,2010-01-01,2024-07-20,Mensal
91423,2024-06-30,23.0,196.4,999.0,24.6,5.9,1.0,0.0,CAMARATUBA,A352,-6.561944,-35.135278,135.51,Operante,2010-01-01,2024-07-20,Mensal
91424,2024-07-31,7.0,196.4,999.0,24.6,6.1,1.0,0.0,CAMARATUBA,A352,-6.561944,-35.135278,135.51,Operante,2010-01-01,2024-07-20,Mensal

In [8]:
df.drop(columns=['Unnamed_7'], inplace=True)

In [9]:
df.columns

Index(['Data_Medicao', 'NUMERO_DE_DIAS_COM_PRECIP_PLUV_MENSAL_AUT_n_mero_',
       'PRECIPITACAO_TOTAL_MENSAL_AUT_mm_',
       'PRESSAO_ATMOSFERICA_MEDIA_MENSAL_AUT_mB_',
       'TEMPERATURA_MEDIA_MENSAL_AUT_C_',
       'VENTO_VELOCIDADE_MAXIMA_MENSAL_AUT_m_s_',
       'VENTO_VELOCIDADE_MEDIA_MENSAL_AUT_m_s_', 'Nome', 'Codigo_Estacao',
       'Latitude', 'Longitude', 'Altitude', 'Situacao', 'Data_Inicial',
       'Data_Final', 'Periodicidade_da_Medicao'],
      dtype='object')

In [11]:
colunas = ['Situacao', 'Data_Inicial', 'Data_Final', 'Periodicidade_da_Medicao']
df.drop(columns=colunas, inplace=True)

df.to_csv('base_final_tratada.csv', index=False)