In [14]:
import pandas as pd

In [15]:
arquivo = 'MICRODADOS_CADASTRO_IES_2012.CSV'
df_2012 = pd.read_csv(arquivo, encoding = 'latin-1', sep= ';')
df_2012

,NU_ANO_CENSO,NO_REGIAO_IES,CO_REGIAO_IES,NO_UF_IES,SG_UF_IES,CO_UF_IES,NO_MUNICIPIO_IES,CO_MUNICIPIO_IES,IN_CAPITAL_IES,NO_MESORREGIAO_IES,...,QT_DOC_EX_60_MAIS,QT_DOC_EX_BRANCA,QT_DOC_EX_PRETA,QT_DOC_EX_PARDA,QT_DOC_EX_AMARELA,QT_DOC_EX_INDIGENA,QT_DOC_EX_COR_ND,QT_DOC_EX_BRA,QT_DOC_EX_EST,QT_DOC_EX_COM_DEFICIENCIA
0,2012,Centro-Oeste,5,Mato Grosso,MT,51,Cuiabá,5103403,1,Centro-Sul Mato-grossense,...,203,588,41,245,73,1,377,1910,28,5
1,2012,Centro-Oeste,5,Distrito Federal,DF,53,Brasília,5300108,1,Distrito Federal,...,307,0,0,0,0,0,0,2341,152,0
2,2012,Nordeste,2,Sergipe,SE,28,São Cristóvão,2806701,0,Leste Sergipano,...,104,4,0,44,0,0,1444,1464,40,0
3,2012,Norte,1,Amazonas,AM,13,Manaus,1302603,1,Centro Amazonense,...,178,307,22,274,12,8,982,1676,8,1
4,2012,Nordeste,2,Piauí,PI,22,Teresina,2211001,1,Centro-Norte Piauiense,...,189,13,4,8,0,0,1320,1581,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2411,2012,Sudeste,3,São Paulo,SP,35,Campinas,3509502,0,Campinas,...,0,6,0,1,0,0,0,7,0,0
2412,2012,Sudeste,3,São Paulo,SP,35,Jacareí,3524402,0,Vale do Paraíba Paulista,...,0,7,0,1,0,1,3,12,0,0
2413,2012,Sudeste,3,São Paulo,SP,35,Pompéia,3540002,0,Marília,...,3,24,0,0,1,0,0,24,1,0
2414,2012,Sudeste,3,São Paulo,SP,35,Taubaté,3554102,0,Vale do Paraíba Paulista,...,0,10,0,0,0,0,6,16,0,0
2415,2012,Sudeste,3,São Paulo,SP,35,Diadema,3513801,0,Metropolitana de São Paulo,...,0,4,0,2,0,0,1,7,0,0

In [16]:
arquivo2 = 'MICRODADOS_CADASTRO_IES_2017.CSV'
df_2017 = pd.read_csv(arquivo2, encoding = 'latin-1', sep= ';')
df_2017

,NU_ANO_CENSO,NO_REGIAO_IES,CO_REGIAO_IES,NO_UF_IES,SG_UF_IES,CO_UF_IES,NO_MUNICIPIO_IES,CO_MUNICIPIO_IES,IN_CAPITAL_IES,NO_MESORREGIAO_IES,...,QT_DOC_EX_60_MAIS,QT_DOC_EX_BRANCA,QT_DOC_EX_PRETA,QT_DOC_EX_PARDA,QT_DOC_EX_AMARELA,QT_DOC_EX_INDIGENA,QT_DOC_EX_COR_ND,QT_DOC_EX_BRA,QT_DOC_EX_EST,QT_DOC_EX_COM_DEFICIENCIA
0,2017,Centro-Oeste,5,Mato Grosso,MT,51,Cuiabá,5103403,1,Centro-Sul Mato-grossense,...,247,1135,39,544,126,2,440,2247,39,5
1,2017,Centro-Oeste,5,Distrito Federal,DF,53,Brasília,5300108,1,Distrito Federal,...,365,1748,69,414,61,11,532,2661,174,5
2,2017,Nordeste,2,Sergipe,SE,28,São Cristóvão,2806701,0,Leste Sergipano,...,144,10,0,7,1,0,1829,1797,50,1
3,2017,Norte,1,Amazonas,AM,13,Manaus,1302603,1,Centro Amazonense,...,160,42,1,59,1,2,1609,1714,0,2
4,2017,Nordeste,2,Piauí,PI,22,Teresina,2211001,1,Centro-Norte Piauiense,...,212,111,40,193,1,2,1326,1673,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2443,2017,Sudeste,3,São Paulo,SP,35,Ribeirão Preto,3543402,0,Ribeirão Preto,...,1,14,0,0,0,0,0,13,1,0
2444,2017,Nordeste,2,Bahia,BA,29,Jacobina,2917508,0,Centro Norte Baiano,...,0,2,0,3,0,0,1,6,0,0
2445,2017,Sudeste,3,São Paulo,SP,35,Araras,3503307,0,Piracicaba,...,2,18,0,0,0,0,1,19,0,0
2446,2017,Sudeste,3,São Paulo,SP,35,Itatiba,3523404,0,Macro Metropolitana Paulista,...,6,12,0,1,0,0,3,15,1,0
2447,2017,Sudeste,3,São Paulo,SP,35,Araraquara,3503208,0,Araraquara,...,0,8,0,0,0,0,0,8,0,0

In [17]:
arquivo3 = 'MICRODADOS_ED_SUP_IES_2022.CSV'
df_2022 = pd.read_csv(arquivo3, encoding = 'latin-1', sep= ';')
df_2022

,NU_ANO_CENSO,NO_REGIAO_IES,CO_REGIAO_IES,NO_UF_IES,SG_UF_IES,CO_UF_IES,NO_MUNICIPIO_IES,CO_MUNICIPIO_IES,IN_CAPITAL_IES,NO_MESORREGIAO_IES,...,QT_DOC_EX_60_MAIS,QT_DOC_EX_BRANCA,QT_DOC_EX_PRETA,QT_DOC_EX_PARDA,QT_DOC_EX_AMARELA,QT_DOC_EX_INDIGENA,QT_DOC_EX_COR_ND,QT_DOC_EX_BRA,QT_DOC_EX_EST,QT_DOC_EX_COM_DEFICIENCIA
0,2022,Centro-Oeste,5,Mato Grosso,MT,51,Cuiabá,5103403,1,Centro-Sul Mato-grossense,...,183,1023,85,431,43,8,47,1609,28,6
1,2022,Centro-Oeste,5,Distrito Federal,DF,53,Brasília,5300108,1,Distrito Federal,...,506,1848,94,474,59,9,402,2731,155,17
2,2022,Nordeste,2,Sergipe,SE,28,São Cristóvão,2806701,0,Leste Sergipano,...,196,206,31,266,13,2,1231,1719,30,1
3,2022,Norte,1,Amazonas,AM,13,Manaus,1302603,1,Centro Amazonense,...,200,110,12,141,6,2,1447,1718,0,1
4,2022,Nordeste,2,Piauí,PI,22,Teresina,2211001,1,Centro-Norte Piauiense,...,239,133,44,232,1,2,1070,1482,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2590,2022,Centro-Oeste,5,Goiás,GO,52,Goiânia,5208707,1,Centro Goiano,...,0,8,0,3,0,0,1,12,0,0
2591,2022,Sudeste,3,Minas Gerais,MG,31,Belo Horizonte,3106200,1,Metropolitana de Belo Horizonte,...,2,91,21,52,5,0,1,170,0,0
2592,2022,Nordeste,2,Alagoas,AL,27,Cacimbinhas,2701209,0,Agreste Alagoano,...,1,2,0,1,0,0,3,6,0,0
2593,2022,Sudeste,3,Rio de Janeiro,RJ,33,São Gonçalo,3304904,0,Metropolitana do Rio de Janeiro,...,0,2,0,2,0,0,0,4,0,0
2594,2022,Centro-Oeste,5,Distrito Federal,DF,53,Brasília,5300108,1,Distrito Federal,...,1,8,1,28,0,0,0,37,0,0

In [18]:
df2012_final = df_2012[['CO_IES','NO_IES']]
df2012_final

      CO_IES                                             NO_IES
0          1                UNIVERSIDADE FEDERAL DE MATO GROSSO
1          2                           UNIVERSIDADE DE BRASÍLIA
2          3                    UNIVERSIDADE FEDERAL DE SERGIPE
3          4                   UNIVERSIDADE FEDERAL DO AMAZONAS
4          5                      UNIVERSIDADE FEDERAL DO PIAUÍ
...      ...                                                ...
2411   17690        FACULDADE DE TECNOLOGIA SENAI ROBERTO MANGE
2412   17952                 Faculdade de Tecnologia de Jacareí
2413   17953  Faculdade de Tecnologia de Pompeia - Shunji Ni...
2414   18049                 Faculdade de Tecnologia de Taubaté
2415   18099    Faculdade de Tecnologia de Diadema Luigi Papaiz

[2416 rows x 2 columns]

In [19]:
df2012_final.isnull().sum()

CO_IES    0
NO_IES    0
dtype: int64

In [20]:
df2017_final = df_2017[['CO_IES','NO_IES']]
df2017_final

      CO_IES                                             NO_IES
0          1                UNIVERSIDADE FEDERAL DE MATO GROSSO
1          2                           UNIVERSIDADE DE BRASÍLIA
2          3                    UNIVERSIDADE FEDERAL DE SERGIPE
3          4                   UNIVERSIDADE FEDERAL DO AMAZONAS
4          5                      UNIVERSIDADE FEDERAL DO PIAUÍ
...      ...                                                ...
2443   21713  Faculdade de Tecnologia - Fatec de Ribeirão Preto
2444   22093                         Faculdade AGES de Medicina
2445   22096            FACULDADE SÃO LEOPOLDO MANDIC DE ARARAS
2446   22319                 Faculdade de Tecnologia de Itatiba
2447   22939              Faculdade de Tecnologia de Araraquara

[2448 rows x 2 columns]

In [21]:
df2017_final.isnull().sum()

CO_IES    0
NO_IES    0
dtype: int64

In [22]:
df2022_final = df_2022[['CO_IES','NO_IES']]
df2022_final

      CO_IES                                       NO_IES
0          1          UNIVERSIDADE FEDERAL DE MATO GROSSO
1          2                     UNIVERSIDADE DE BRASÍLIA
2          3              UNIVERSIDADE FEDERAL DE SERGIPE
3          4             UNIVERSIDADE FEDERAL DO AMAZONAS
4          5                UNIVERSIDADE FEDERAL DO PIAUÍ
...      ...                                          ...
2590   25453                              Faculdade Ésper
2591   25613  ACADEMIA DE POLÍCIA MILITAR DE MINAS GERAIS
2592   25624            CEDDU - CENTRO DE ENSINO SUPERIOR
2593   25788   Faculdade Leonardo da Vinci de São Gonçalo
2594   27103             UNIVERSIDADE DO DISTRITO FEDERAL

[2595 rows x 2 columns]

In [23]:
df2017_final.isnull().sum()

CO_IES    0
NO_IES    0
dtype: int64

In [24]:
df_base_ies = pd.concat([df2012_final, df2017_final, df2022_final], axis= 0)
df_base_ies

      CO_IES                                       NO_IES
0          1          UNIVERSIDADE FEDERAL DE MATO GROSSO
1          2                     UNIVERSIDADE DE BRASÍLIA
2          3              UNIVERSIDADE FEDERAL DE SERGIPE
3          4             UNIVERSIDADE FEDERAL DO AMAZONAS
4          5                UNIVERSIDADE FEDERAL DO PIAUÍ
...      ...                                          ...
2590   25453                              Faculdade Ésper
2591   25613  ACADEMIA DE POLÍCIA MILITAR DE MINAS GERAIS
2592   25624            CEDDU - CENTRO DE ENSINO SUPERIOR
2593   25788   Faculdade Leonardo da Vinci de São Gonçalo
2594   27103             UNIVERSIDADE DO DISTRITO FEDERAL

[7459 rows x 2 columns]

In [25]:
df_base_ies.to_csv('base_ies.csv', index= False)